/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
}

/*===== Colores =====*/
:root {
    --first-color: #4070F4;
    --second-color: #0E2431;
    /*skin tone*/
    --third-color: #ffe3d8;
    /*putih pudar*/
    --fourth-color: #dddddd;
    /*biru donker*/
    --fifth-color: #0a043c;
    /*grey*/
    --sixth-color: #30475e;
    --seventh-color: #f05454;
}

/*===== Fuente y tipografia =====*/
:root {
    --body-font: 'Overpass', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --quote-font: 'Playfair Display', serif;

}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/*===== Margenes =====*/
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*===== z index =====*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #fff;

}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== CLASS CSS ===== */
.section-title {
    font-size: 30px;
    color: var(--seventh-color);
    margin-top: var(--mb-2);
    margin-bottom: 15%;
    text-align: center;
    text-shadow: 3px 1px 1px #888888
}

.section-title-contact {
    font-size: 30px;
    position: relative;
    color: var(--seventh-color);
    margin-top: var(--mb-2);
    margin-bottom: 15%;
    text-align: center;
    text-shadow: 3px 1px 1px #888888
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;

}

/*===== LAYOUT / HEADER =====*/

.bd-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 88%;
    right: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-semi);
    position: relative;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: -50%;
        width: auto;
        height: 45%;
        padding: 2rem;
        text-align: center;
        transition: .5s;
        background-color: #ffffff;
        opacity: 0.9;
        line-height: 2.7;
        filter: alpha(opacity=40);
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=40);
}

.nav__link {
    position: relative;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__toggle {
    color: var(--seventh-color);
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
    bottom: 20%;
    position: fixed;
}


/*====Tentang Saya======*/
.about__subtitle {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
}

.about__text {
    font-size: 17px;
    text-align: justify;
    padding-bottom: 15px;
}

.fav__text {
    font-size: 12px;
    text-align: center;
}

.quote__text {
    text-align: center;
    font-size: 17px;
    margin: 5% 5%;
    border-top: solid 3px var(--sixth-color);
    padding-top: 10px;
    font-family: var(--quote-font);
}

/*===== HOME =====*/
.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home__data {
    margin: 50% 5%;
}

.home__title {
    font-size: var(--big-font-size);
    position: relative;
    text-align: center;

}

.home__title-color {
    color: var(--first-color);
}

.home__titledua {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}

.home__titledua-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    align-items: center;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/* ===== SKILLS =====*/

.skills__subtitle {
    margin-bottom: 50px;
}


.skills__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    align-items: center;
    text-align: center;

}

.skills__data {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    float: none;
}

.skills__name {
    padding-top: 25px;
    text-align: center;
}

.skills__img {
    width: 100px;
    margin: 15px 15px;
}

.skill__text {
    width: auto;
}

.skills__text {
    margin: 10% 0;
    font-size: 16px;
    text-align: justify;
}

/* ===== WORK =====*/
.work__container {
    row-gap: 2rem;
}

.work__subtitle {
    font-size: 20px;
    text-align: center;

}

.another__project {
    text-align: center;
    padding-top: 25%;
    padding-bottom: 10px;
    font-weight: bold;
}

.work__exp {
    font-size: 17px;
    text-align: justify;
}

.work__img {
    padding-top: 15px;
    padding-bottom: 15px;
}

.work__img img {
    transition: 1s;
    cursor: pointer;
}

.work__img img:hover {
    transform: scale(1.1);
}

.work__imgdua {
    padding: 15px 0;
    margin: 0 auto;
    width: 200px;
}

.work__imgdua img {
    transition: 1s;
    cursor: pointer;
}

.work__imgdua img:hover {
    transform: scale(1.1);
}

.work__icon {
    width: 20%;
    padding-top: 10px;
    margin: 0 auto;
}

/* ===== CONTACT =====*/
.contact__img {
    padding-top: 15px;
    border-top: solid 3px var(--sixth-color);
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 19%;
}

.contact__icon {
    width: 50px;
    padding: 10px 0;
}

.contact__contbutton {
    margin: 0 32%;
}

.contact__button {
    padding-top: 10px;
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    justify-items: center;
    background-color: var(--seventh-color);
}

/* ===== FOOTER =====*/
.footer {
    background-color: var(--second-color);
    color: #fff;
    font-size: 20px;
    padding: 2rem 0;
    display: grid;
    justify-items: center;
}

.footer__text {
    display: grid;
    padding: 5px 10px;
    justify-items: center;
}

.footer__maps {
    width: 50px;
}

.cp {
    padding-top: 20px;
    font-size: 15px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding: 1rem 0;
    }

    .section-title {
        margin-bottom: var(--mb-6);
        font-size: 35px;
        color: var(--seventh-color);
        margin-top: var(--mb-2);
        margin-bottom: var(--mb-4);
        text-align: right;
        padding-right: 5%;
        text-shadow: 3px 1px 1px #888888
    }

    .section-title-contact {
        margin-bottom: var(--mb-4);
        font-size: 35px;
    }

    .contact__img {
        padding-top: 15px;
        border-top: solid 3px var(--sixth-color);
        display: flex;
        padding-bottom: 15px;
        border-bottom: solid 3px var(--sixth-color);
    }

    .contact__icon {
        width: 70px;
        padding: 0 10px;
    }

    .contact__contbutton {
        padding-top: 15px;
        align-items: center;
        float: center;

    }

    .contact__button {
        display: block;
        border: none;
        outline: none;
        font-size: var(--normal-font-size);
        cursor: pointer;
        background-color: var(--seventh-color);
    }

    .nav {
        height: auto;
    }

    .nav__list {
        display: flex;

    }

    .nav__item {
        text-align: center;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 20px;
        box-shadow: 0 4px 10px rgba(14, 36, 49, .15);
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: #000000;
        font-size: 17px;
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: center;
        margin-top: 20%;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home__img {
        width: 457px;
        bottom: 15%;
    }

    .texted {
        margin-right: 10%;
    }

    .home__titledua {
        font-size: 17px;
        padding: 15px;
        position: relative;
        text-align: center;
    }


    .footer {
        background-color: var(--second-color);
        color: #fff;
        font-size: 20px;
        padding: 15px 0;
        display: flex;
        grid-template-columns: auto auto;


    }

    .footer__text {
        display: flex;
        padding: 15px 10px;
        justify-content: space-between;
    }

    .footer__maps {
        width: 50px;
        padding-left: 15px;
        padding-top: 10px;
    }

    .cp {
        margin-left: auto;
        font-size: 20px;
        margin-right: 15px;
    }

    .quote__text {
        text-align: center;
        font-size: 20px;
        font-family: var(--quote-font);
        margin: 5% 8%;
        border-top: solid 3px var(--sixth-color);
        padding-top: 10px;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: justify;
    }

    .skills__container {
        grid-template-columns: repeat(5, 1fr);
        text-align: justify;
        justify-items: center;
        justify-content: center;
        align-items: center;
        padding: 0 20%;
    }

    .skills__text {
        margin: 20px 10%;
        font-size: 20px;
        text-align: justify;
    }

    .about__img img {
        width: 300px;
        margin-left: 25%;
    }

    .work__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .work__subtitle {
        font-size: 20px;
        text-align: justify;
    }

    .work__exp {
        font-size: 17px;
        text-align: justify;
        padding-bottom: 15px;
    }

    .work__text {
        margin: 15px 10%;
    }

    .another__project {
        text-align: center;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .work__img {
        padding: 15px 0;
        margin: 0 auto;
        width: 400px;
        height: 200px;
    }

    .work__img img {
        transition: 1s;
        cursor: pointer;
    }

    .work__img img:hover {
        transform: scale(1.1);
    }

    .work__imgdua {
        padding: 15px 0;
        margin: 0 auto;
        width: 200px;
    }

    .work__imgdua img {
        transition: 1s;
        cursor: pointer;
    }

    .work__imgdua img:hover {
        transform: scale(1.1);
    }

    .work__icon {
        padding: 10px 0;
        width: 13%;
        margin: 0 0;
    }

    .contact__container {
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        height: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: 10%;
        margin-right: 10%;
    }


    .home__img {
        right: 10%;
    }

    .skills__img {
        justify-items: center;
    }

}
